html {
  height: 100%;
}

body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  height: 100%;
}

.body-home {
  background-image: url("images/bg.png");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
/*============= HOME PAGE ===============*/

#home-logo-img{
  width: 150px
  display: block;
  padding: 25px 10px 10px 10px;
   margin-right:auto;
   margin-left: auto;
   max-width: 100%;

}


/*============= HOME PAGE MENU ===============*/


.site-footer { padding: 2rem 1rem;
              text-align: center;
              color: #000000;
              text-decoration: none;
              font-size: 10px;
             }

.home-menu :hover, .meals-list :hover {
  background: #FF0026;
  
}
